// button
@mixin button($background:#e45028) {
  padding: 10px 15px;
  border-radius: 5px;
  font-family: ubuntu-medium, sans-serif;
  font-size: rem(13px);
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border: 0;
  background: $background;
  transition: background .5s ease-in-out;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background: darken( $background, 15% );
  }
}

@mixin circle ($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background: $color;
}


//placeholder

@mixin placeholder($color: #000000) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

