//colors

$black: #2f3234;
$red: #e45028;
$yellow: #f9b43b;
$green: #8ac03e;
$white: #fff;

//resolutions

$computer : 966px;
$tablets: 780px;
$phones: 480px;


$black: #2f3234;

$red: #e45028;

$yellow: #f9b43b;

$green: #8ac03e;

$white: #fff;
