
@font-face {
  font-family: 'gagalinregular';
  src: url('https://codeman23.github.io/mburger/fonts/gagalin-regular-webfont.woff2') format('woff2'),
  url('../fonts/gagalin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lifehackmedium';
  src: url('https://codeman23.github.io/mburger/fonts/lifehack_medium-webfont.woff2') format('woff2'),
  url('https://codeman23.github.io/mburger/fonts/lifehack_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'svgfont_1regular';
  src: url('https://codeman23.github.io/mburger/fonts/icons_font-webfont.woff2') format('woff2'),
  url('https://codeman23.github.io/mburger/fonts/icons_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'ubuntu-bold';
  src: url('https://codeman23.github.io/mburger/fonts/ubuntubold.woff2') format('woff2'),
  url('https://codeman23.github.io/mburger/fonts/ubuntubold.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}


@font-face {
  font-family: 'ubuntu-medium';
  src: url('https://codeman23.github.io/mburger/fonts/ubuntumedium.woff2') format('woff2'),
  url('https://codeman23.github.io/mburger/fonts/ubuntumedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntu';
  src: url('https://codeman23.github.io/mburger/fonts/ubuntu.woff2') format('woff2'),
  url('https://codeman23.github.io/mburger/fonts/ubuntu.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}


@font-face {
  font-family: 'ubuntu-light';
  src: url('https://codeman23.github.io/mburger/fonts/ubuntulight.woff2') format('woff2'),
  url('https://codeman23.github.io/mburger/fonts/ubuntulight.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}



